<nav class="nav">
  <a href="/" class="nav__brand">
    <span class="nav__mark">&pi;</span>
    <span class="nav__name">Pyana</span>
  </a>
  <div class="nav__links">
    <a class="nav__link" href="/">Home</a>
    <a class="nav__link" href="/apps.html">Apps</a>
    <a class="nav__link" href="/learn.html">Learn</a>
    <a class="nav__link" href="/paper.html">Paper</a>
    <a class="nav__link" href="/demo.html">Demo</a>
    <a class="nav__link" href="/explorer/">Explorer</a>
    <a class="nav__link" href="/playground/">Playground</a>
    <a class="nav__link" href="https://github.com/emberian/pyana">GitHub</a>
  </div>
</nav>
